.Autocomplete-Input{
  display: block;
  width: 100%;
  padding: 0.5em 0.8em;
  border-radius: 2px;
  appearance: none;
  border: 1px solid #CCC;
  font-size: 14px;
}

.Autocomplete-List{
  max-height: 500px;
  margin-top: 0.5em;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  list-style-type: none;
  padding: 0;
}

.Autocomplete-List__item{
  padding: 0.3em 0.5em;
}

.Autocomplete-List__item:hover{
  background: #EEE;
  cursor: pointer;
}
